* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* TODO: Find a better way to resolve horizontal & vertical scrollbar in Chrome (Windows 10) */
  /* https://github.com/pobch/react-diagram/issues/15 */
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  /* appearance: none; */
  border-radius: 0;
  border: 2px solid skyblue;
  background-color: thistle;
}
